h1 {
    font-size: 50px !important;
    /* margin-bottom: 60px; */
    margin-top: 20px;
    margin-bottom: 20px;

}

.title {
    color: #6e7f80 !important;
    /* font-family: "Avenir Next" !important; */
  }

body {
    background:#A8D0E6;
    background-image: url("toronto_pic.jpg");
background-size: 100%;
height: 200px;
  }

  .header {
    /* border-color: #F76C6C; */
    margin-top: 10px;
    margin-bottom: 10px;
    outline-style: solid;
    outline-color:   #e5e6eb;
}

.panel > .panel-title {
    
    font-size: 50px !important;
}
h3.panel-title {
    font-size: 30px !important;
  
}

.collapsible {
    background-color: #6e7f80;
    color:  #e5e6eb;
    text-transform: uppercase;
    /* font-family: "Avenir Next" !important; */
    font-size: 30px !important;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    
  }
  
  .active, .collapsible:hover {
    background-color:whitesmoke;
    color: #6e7f80;
    outline-color: #6e7f80;
  }
  .active, .header:hover {
 
    outline-color: #6e7f80;
  }
  
  .thecontent {
    padding: 10px;
    overflow: hidden;
    background-color: #f1f1f1;
    
  }

  .thecontent2 {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(43, 40, 40, 0.658);
    color:#c5cbcc;
    
  }

  p {
    /* font-family: "Avenir Next" !important; */
    font-size: 30px !important;
  }

#map{
 height: 500%;
 padding: 0%;
 /* position: relative; */
 z-index: 1;
}

#map{
  height: 400px;
}

#map2{
  height: 500%;
  padding: 0%;
  /* position: relative; */
  z-index: 1;
 }
 
 #map2{
   height: 400px;
 }


.legend {
 line-height: 18px;
 color: black;
 background-color: aliceblue;
 padding: 10px;
 border-radius: 10px;
}
.legend i {
 width: 18px;
 height: 18px;
 float: left;
 margin-right: 8px;
 opacity: 1;
}

#plot {
  position: relative;
  z-index: 1;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}