#map,
body,
html {
  height: 100%;
  padding: 5%;
  z-index: 1;
}

  
.legend {
  line-height: 18px;
  color: black;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
  
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}